@import "tailwindcss";

:root {
  --header: #F8F2F2;
  --footer: #E4DBD6;
  --secondary: #EAE3E0;
  --text: #4D5143;
  --rust: #B8604C;
  --teal: #678081;
  --teal-hover: #4F6162;
  --card-bg: #EAE3E0;     
  --card-border: #D6CFCC;      
  --disabled-bg: #D9D1CE;       
  --disabled-text: #6B6662;   
  --button-gray: #C5BCB8;     
  --button-gray-hover: #B0A7A3;
  --hero-square: #EFE9E8;
  --lines: #CEC7C4;
  --input-border: #9D9389;
  --dark-rust: #8b493a;

}



body {
  font-family: var(--font-playfair), serif;
  line-height: 1.6;
  color: var(--text);
  background-color: #F8F2F2;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll; 
  scrollbar-gutter: stable;
}

/* scrollbar styles */
/* https://stackoverflow.com/questions/53772429/material-ui-how-can-i-style-the-scrollbar-with-css-in-js 
  apparently works weird with firefox, but i honestly do not care :D
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--header);
}

::-webkit-scrollbar-thumb {
  background: var(--card-border);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--input-border);
}
