@import "tailwindcss";

:root {
  --header: #F8F2F2;
  --footer: #807D75;
  --text: #4D5143;
  --rust: #B8604C;
}



body {
  font-family: var(--font-playfair), serif;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--header);
}

html {
  scroll-behavior: smooth;
}